body{
    min-width: 310px;
    width: 7.5rem;
    margin: 0 auto;
}

/*main container start*/
.slcf_container {
    box-sizing: border-box;    
    width: 100%;
    height: 100%;    
    overflow-y: auto;
}
.slcf_container::-webkit-scrollbar {
    display: none;
    width:0px;
}
body::-webkit-scrollbar {
    display: none;
    width:0px;
}
/*header style start*/
header{
    width: 7.5rem;
    height: auto;    
    margin: 0 auto;
}
/*header style star*/
.head_container{
    position: relative;
    z-index: 999;
    width: 7.5rem;
    height: .96rem;    
}
.head_top{  
    position: fixed;
    width: 7.5rem;
    height: .96rem;
    line-height: .96rem;
    background: #fff;  
    font-size: .32rem;
    font-weight: bolder;
    color: #515151;
    overflow: hidden;
    border-radius: 0 0 30% 30%;
}
.head_top > span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.head_top > a{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    width: .5rem;
    height: .5rem;
    right: .35rem;
    background: url(../img/search.png) no-repeat;
    background-size: .5rem .5rem;
}
.head_top > .goback{
    left: .35rem;
    background: url(../img/goback.png) no-repeat;
    background-size: .5rem .5rem;
}
/* content container*/
.Content{
    box-sizing: border-box;
    position: relative;
    width: 7.5rem;
    height: auto;
    margin: 0 auto;
}
/*footer style start*/
footer{      
    width: 100%;
    height: .66rem;
    padding: 0;
    text-align: center;
    z-index: 1001;
    /*box-shadow: 0 0 6px 0 rgba(54, 50, 50, .5);*/    
}
.foot_container{
    position: fixed;    
    z-index: 999;
    bottom: -.01rem;
    left:50%;
    width: 7.5rem;    
    background: #fff;
    border-radius: 50% 50% 0 0;  
    -webkit-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer_menu{
    position: relative;
    /*border-top: 1px solid rgb(240,240,240);*/
    width: 100%;
    height: 100%;    
    margin: 0 auto;    
    cursor: default;
}
footer .footer_menu a{
    position: relative;
    display: inline-block;
    width: 30%;
    height: .56rem;
    line-height: .56rem;
    font-size: .24rem;
    background-color: transparent;
    text-align: center;
    z-index: 1000;
}
footer .footer_menu span{   
    position: absolute;
    top: .1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .26rem;
    font-weight: bold;
    color: black;
    z-index: 1001;
}
footer .footer_menu img{
    position: absolute;
    width: 40%;
    height: auto;
    top: -.56rem;
    left: 50%;
    transform: translateX(-50%);
}
/*防止弹窗时底部滚动*/
.modal-open {
    position: fixed !important;
    width: 7.4rem;
    max-width: 750px;
    right: 0;
    left: 0;
    margin: 0 auto;
}