<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="app-mobile-web-app-capable" content="yes">
	<meta name="referrer" content="no-referrer"/>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./css/comic.css">	
</head>	
<body>
	<div class="slcf_container" ng-app="" ng-init="">
		<header>
			<div class="head_container">
				<div class="head_top">
					<a class="goback" href="javascript: history.back();"></a>
					<span class="title-name"></span>
					<a href="javascript: void(0);"></a>
				</div>
			</div>
		</header>
		<!-- 漫画详细信息 -->
		<section id="titleInfo" class="ContentBase clearfix" ng-init="">
			<div class="comic-info-div">
				<div class="comic-cover">
					<img src="{{ titleInfo.cover }}" alt="" class="item-cover">
				</div>
				<div class="comic-info">
					<strong class="info-title">{{ titleInfo.name }}</strong>
					<small class="info-num">{{ titleInfo.tag }}</small>
					<small class="info-class">{{ titleInfo.latest }}</small>
					<small class="info-time">{{ titleInfo.time }}</small>
					<small class="info-descript">{{ titleInfo.introduce }}</small>
					<button class="read-btn" type="button">点击阅读</button>
				</div>
			</div>
		</section>
		<!-- 章节列表 -->
		<section id="chapter" class="ContentBase clearfix" ng-init="">
			<div class="main-content">
				<h1>章节列表</h1>
				<ul class="chapter-init-ul">
					<li class="chapter-init-li" ng-repeat="x in datas">
						<a href="./chapter.html?chapter={{ x.url }}&page={{ x.page }}&url={{ pathName }}" class="chapter-link">{{ x.num }}</a>
					</li>
				</ul>
			</div>
		</section>
		<!-- 猜你喜欢 -->
		<section class="ContentBase clearfix">			
			<div class="main-content">
				<h1>猜你喜欢</h1>
				<div id="nixihuan" class="shop_package clearfix" ng-init="">
					<div class="ship_pic_wrap" ng-repeat="x in nixihuan">
						<a href="./comic.html?url={{ x.url }}"><img src="{{ x.cover }}">
							<span>{{ x.name }}</span>
							<p>{{ x.latest }}</p>
						</a>
					</div>
				</div>				
			</div>
		</section>
		<footer>
	        <div class="foot_container">
				<div class="footer_menu clearfix">
		        	<a href="./category.html">
						<img src="./img/fire1.png">						
						<span>分类</span>
					</a>
					<a href="./index.html">
						<img src="./img/fire2.png">
						<span>首页</span>
					</a>
					<a href="./rank.html">
						<img src="./img/fire3.png">
						<span>排行</span>
					</a>
		        </div>
	        </div>
		</footer>
		<!-- 漫画loading -->
		<div class="comic-loading comic-list-loading">
			<img class="loading-gif" src="./img/loading/loading.gif" alt="">			
		</div>
	</div>
	<script src="./js/jquery-3.4.1.min.js"></script>
	<script src="./js/mock.js"></script>
	<script src="./js/common.js"></script>
	<script src="./js/rem.js"></script>
	<script>
		$(document).ready(function(){
			//获取漫画类型参数
			var pathName = getQueryVariable("url");
			var titleInfo = null;
			var datas = new Array();
			var nixihuan = new Array();

			console.log("类型参数： " + pathName);

			$(".slcf_container").attr("ng-init", "pathName='"+pathName+"'");

			function getDatas(url, arrdatas){
				var defer = $.Deferred();				
				$.ajax({
					url: url,
					type: "get",
					async: false,
					dataType: "json",
					success: function(res){
							defer.resolve(res);
							//关闭加载
							$(".comic-loading").hide();
							$.when(defer.promise()).done(function(res){
								$("title").text(res.data.name + " - RManGa");
								$(".title-name").text(res.data.name);
								res.data.cover = res.data.cover.replace(/http:/,"");
								res.data.cover = res.data.cover.replace(/https:/,"");
								res.data.cover = "http:" + res.data.cover;
								titleInfo = res.data;								
								if(res.list != ""){
									$.each(res.list, function(index, item){
										item.page = index;										
										if(item.url != null){
											if(item.page == 0){
												item.page += 1;
											}											
											arrdatas.push(JSON.stringify(item));
										}
									})
								}
							})
						// }else{
						// 	//关闭加载
						// 	$(".loading-gif").hide();
						// 	$(".comic-loading").append("<p style='position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: .32rem; color: #c7c7c7;'>"+ res.message +"</p>");
						// }
					},
					error: function(err, xmlerr, htmlerr){
						console.log(xmlerr);
					}
				});				
			};

			function getDatas2(url, arrdatas, sel){
				var defer = $.Deferred();				
				$.ajax({
					url: url,
					type: "get",
					async: false,
					dataType: "json",
					success: function(res){
						if(res.code == 0){
							defer.resolve(res);
							//关闭加载
							$(".comic-loading").hide();
							$.when(defer.promise()).done(function(res){								
								if(res.list != ""){									
									$.each(res.list, function(index, item){										
										if(item.url != null){
											arrdatas.push(JSON.stringify(item));
										};
									})
								}else{
									$("#"+sel).parent().hide();
								}
							})
						}
						console.log("访问： " + res.message);
					},
					error: function(err, xmlerr, htmlerr){
						console.log(xmlerr);
					}
				});				
			}

			//猜你喜欢
			getDatas2(mhlb+"shaonianrexue", nixihuan , "nixihuan");

			var pathName2 = mhurl1+pathName;
			getDatas( pathName2 , datas);	

			if(titleInfo != null){
				$("#titleInfo").attr("ng-init", "titleInfo="+JSON.stringify(titleInfo));
			}

			if(datas.length > 1){
				//返回给ui	
				$("#chapter").attr("ng-init", "datas=["+datas+"]");				

				$(".read-btn").click(function(){
					var data1 = JSON.parse(datas[0]);
					window.location = "./chapter.html?chapter="+data1.url+"&page=1&url="+pathName;
				})
			}

			if(nixihuan.length > 1){				
				var newdata = new Array();
				var arr = numRandom(nixihuan.length, 6);				
				for(var i = 0; i < arr.length; i++){
					newdata.push(nixihuan[arr[i]]);
				}
				//返回给ui	
				$("#nixihuan").attr("ng-init", "nixihuan=["+newdata+"]");				
			}
			
			deferload();
		})
	</script>
	<script src="./js/angular.1.57.js"></script>
</body>
</html>
