body{
    min-width: 310px;
    width: 7.5rem;
    margin: 0 auto;
}

/*main container start*/
.slcf_container {
    box-sizing: border-box;    
    width: 100%;
    height: 100%;    
    overflow-y: auto;
}
.slcf_container::-webkit-scrollbar {
    display: none;
    width:0px;
}
body::-webkit-scrollbar {
    display: none;
    width:0px;
}
/*header style start*/
header{
    width: 7.5rem;
    height: auto;    
    margin: 0 auto;
}
/*header style star*/
.head_container{
    position: relative;
    z-index: 999;
    width: 7.5rem;
    height: .96rem;    
}
.head_top{  
    position: fixed;
    width: 7.5rem;
    height: .96rem;
    line-height: .96rem;
    background: #fff;  
    font-size: .32rem;
    font-weight: bolder;
    color: #515151;
    overflow: hidden;
    border-radius: 0 0 30% 30%;
}
.head_top > span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.head_top > a{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    width: .5rem;
    height: .5rem;
    right: .35rem;
    background: url(../img/search.png) no-repeat;
    background-size: .5rem .5rem;
}
.head_top > .goback{
    left: .35rem;
    background: url(../img/goback.png) no-repeat;
    background-size: .5rem .5rem;
}
/* content container*/
.Content{
    box-sizing: border-box;
    position: relative;
    width: 7.5rem;
    height: auto;
    margin: 0 auto;
}
/*footer style start*/
footer{      
    width: 100%;
    height: .66rem;
    padding: 0;
    text-align: center;
    z-index: 1001;
    /*box-shadow: 0 0 6px 0 rgba(54, 50, 50, .5);*/    
}
.foot_container{
    position: fixed;    
    z-index: 999;
    bottom: -.01rem;
    left:50%;
    width: 7.5rem;    
    background: #fff;
    border-radius: 50% 50% 0 0;  
    -webkit-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer_menu{
    position: relative;
    /*border-top: 1px solid rgb(240,240,240);*/
    width: 100%;
    height: 100%;    
    margin: 0 auto;    
    cursor: default;
}
footer .footer_menu a{
    position: relative;
    display: inline-block;
    width: 30%;
    height: .56rem;
    line-height: .56rem;
    font-size: .24rem;
    background-color: transparent;
    text-align: center;
    z-index: 1000;
}
footer .footer_menu span{   
    position: absolute;
    top: .1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .26rem;
    font-weight: bold;
    color: black;
    z-index: 1001;
}
footer .footer_menu img{
    position: absolute;
    width: 40%;
    height: auto;
    top: -.56rem;
    left: 50%;
    transform: translateX(-50%);
}
/*防止弹窗时底部滚动*/
.modal-open {
    position: fixed !important;
    width: 7.4rem;
    max-width: 750px;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/*搜索*/
#searchMG{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 7.5rem;
    transform: translateX(-50%);
    height: 100%;
    z-index: 999;
}

.search-box{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: .18rem 0;
    background: rgba(238, 151, 204, .3);
}

.search-font{
    text-indent: .2rem;
    font-size: .32rem;
}

.search-box-text{
    width: 75%;
    display: block;
    margin: 0 auto;    
    height: .68rem;
    line-height: .68rem;
    background: #fff;
    border-radius: .28rem;
    border: .05rem solid skyblue;
    -webkit-animation: searchShow .8s;
    -o-animation: searchShow .8s;
    animation: searchShow .8s;
 }

 .search-content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    background: rgba(238, 151, 204, .3);
    -webkit-animation: backgroundShow 2s;
    -o-animation: backgroundShow 2s;
    animation: backgroundShow 2s;
 }

.search-init-ul{
    padding: 0 .2rem;
}

.search-init-li{
    position: relative;
    margin-bottom: .1rem;
}

.search-init-li .item-link{
    display: flex;
    padding: .1rem;
    height: 2rem;
    border-radius: 10px;
    background: rgba(211, 211, 211, .8);
    -webkit-animation: backgroundShow 2s;
    -o-animation: backgroundShow 2s;
    animation: backgroundShow 2s;
}

.search-init-li .item-cover-div{
    width: 20%;
    height: 100%;
}

.search-init-li .item-cover-div img{
    width: auto;
    height: 100%;
    overflow: hidden;
}

.search-init-li .item-info{
    display: flex;
    width: 80%;
    padding-left: .2rem;
    flex-direction: column;
    font-size: .32rem;
}

.search-init-li .item-info strong, .item-info small{
    margin-bottom: .2rem;
}

@keyframes searchShow
{
    0% { width: 0%; background: skyblue;}
    5% { width: 3.75%; background: skyblue;}
    10% { width: 7.5%; background: skyblue;}
    15% { width: 11.25%; background: skyblue;}
    20% { width: 15%; background: skyblue;}
    25% { width: 18.75%; background: skyblue;}
    30% { width: 22.5%; background: skyblue;}
    35% { width: 26.25%; background: skyblue;}
    40% { width: 30%; background: skyblue;}
    45% { width: 33.75%; background: skyblue;}
    50% { width: 37.5%; background: skyblue;}
    55% { width: 41.25%; background: skyblue;}
    60% { width: 45%; background: skyblue;}
    65% { width: 48.75%; background: skyblue;}
    70% { width: 52.5%; background: skyblue;}
    75% { width: 56.25%; background: skyblue;}
    80% { width: 60%; background: skyblue;}
    85% { width: 63.75%; }
    90% { width: 67.5%; background: skyblue;}
    95% { width: 71.25%; background: skyblue;}
    100% { width: 75%; background: #fff;}
}

@keyframes backgroundShow
{
    0% {background: #ffffff;}
    100% {background: rgba(238, 151, 204, .4);}
}